# Ignorar la carpeta del ambiente virtual
ine/

# Ignorar archivos de configuración de VS Code (opcional)
#.vscode/

# Ignorar archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Ignorar archivos de entorno (si los tienes)
.env
#.venv
#env/
#venv/

#Imagenes
images/ine_uriel.jpg

# Ignorar archivos generados por el sistema
#.DS_Store (para macOS)